/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Poppins", sans-serif;
}

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::after {
  background: #a3e798 !important;
}

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::before {
  background: #4cd137 !important;
}

.ngflowchart-arrow {
  & #arrowhead {
    fill: darkgrey;
  }

  & #arrowpath {
    stroke: darkgrey;
  }
}

.step {
  background: #fbfbfb;
  color: #444;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1em;
  min-width: 200px;
  min-height: 100px;
}

.color-blue
{
  color: rgb(52, 152, 219);;
}

.color-pink
{
  color: rgb(232, 67, 147);
}

.color-orange
{
  color: rgb(225, 112, 85);
}

.color-green
{
  color: rgb(0, 184, 148);
}

.ngflowchart-canvas-content
{
  overflow: auto;
}

.group
{
 
  .ngflowchart-canvas-content
  {
    overflow: hidden !important;
  }

}

